<!DOCTYPE <html>
<html>

    <head>
        <meta name="viewport" content="Width=device-width"/>
        <title>Bethany's Pie Shop</title>
    </head>

    <body>
        <h1>@ViewBag.CurrentCategory</h1>
    </body>
</html>
